@import "media";

// Define our breakpoints
$small: 'min-width: 0px';
$medium: 'min-width: 480px';
$large: 'min-width: 1024px';
$portrait: 'orientation: portrait';
$short: 'max-height: 500px';


.bar {
  color: blue;

  /**
   * @large & @portrait
   */

  @include media($medium, $large) {
    color: red;
  }
}


.foo {
  color: purple;

  /**
   * @small,
   * @large
   */

  @include media($large $portrait $short, $small) {
    color: green;
  }
}