@import "media-query";

// Define our breakpoints
$small: media(small, max-width, 480px);
$medium: media(medium, max-width, 700px);
$large: media(large, max-width, 1024px);
$portrait: media(portrait, orientation, portrait);


.bar {
	color: blue;

	/**
	 * @large & @portrait
	 */

	@include media(large portrait) {
		color: red;
	}
}


.foo {
	color: purple;

	/**
	 * @small,
	 * @large
	 */

	@include media(large portrait max-height:300px) {
		color: green;
	}
}