/**
* SASS-MEDIA
*
* Media query shorthand sugar for SASS.
*
* @version 0.1.0
* @author Wilson Page <wilsonpage@me.com>
* @licence MIT
*/
.bar {
  color: blue;
  /**
   * @large & @portrait
   */ }
  @media (min-width: 480px), (min-width: 1024px) {
    .bar {
      color: red; } }

.foo {
  color: purple;
  /**
   * @small,
   * @large
   */ }
  @media (min-width: 1024px) and (orientation: portrait) and (max-height: 500px), (min-width: 0px) {
    .foo {
      color: green; } }
